.calc-button {
    width:25%;
    height: 50px;
    border: none;
    margin: 5px;
    background-color: #e3e7f1;
    color: #494ca2;
    font-size: 1.5rem;
    border-radius: 2px;
    box-sizing: content-box;
    
}


.calc-button:hover {
    background-color: #ffffff;
    color: #373a91;
}