.App {

  width: 50%;

  margin: 20px auto;
  border: 1px solid #8186d5;
  box-shadow: 1px 2px #464a8a;
 
 
}

.row {
  width: 100%;
  display: flex;
}



@media only screen and (max-width: 1200px) {
  .App {
    
    width: 80%;
      
  }
}


@media only screen and (max-width: 800px) {
  .App {
    
    width: 90%;
      
  }
}

